[package]
name = "ui"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true }

project-core = { workspace = true }
uuid = { version = "1", features = ["serde", "v4"] }

[features]
default = []
